/* WILL USE THIS FILE TO EDIT GENERAL SITE AESTHETICS QUICKER */
/* Can save different config.css files as presets and rename them to "save" different aesthetic combos */

:root {
    
    /* CONSTANTS */
    --BaseColour: hsl(0, 0%, 0%);
    --HeaderBackground: hsla(244, 41%, 7%, 0.662);
    --ContentBackground: hsla(247, 24%, 14%, 0.603);
    --SidebarBackground: hsla(240, 18%, 10%, 0.603);

    /* HEADER VALUES */
    --HeaderBorderRadius: 10px;
    --HeaderBorderColour: hsla(248, 19%, 68%, 0.412);
    --HeaderBorderThickness: 1px;
    --HeaderBlur: 12px;
    --HeaderFont: "Satoshi";
    
    --LogoFontWeight: 900;
    --LogoFontSize: 20px;

    --SearchFill: hsla(252, 35%, 20%, 0.401);
    --SearchFontColour: hsl(229, 21%, 79%);
    --SearchFontSize: 10px;
    --SearchBorderThickness: 1px;
    --SearchBorderColour: rgba(196, 193, 221, 0.484);
    --SearchBorderRadius: 10px;

    /* Sidebar */
    --SidebarWidth: 20vw;
    --SidebarBlur: 12px;
    --SidebarBorderWidth: 1px;
    --SidebarBorderColour: hsla(0, 0%, 100%, 0.46);
    --SidebarRadius: 10px;

    --SubtitleFont: "Satoshi";
    --SubtitleFontSize: 20px;
    --SubtitleFontWeight: 600;
    --SubtitleFontColour: hsl(258, 20%, 84%);

    --LinkFont: "Satoshi";
    --LinkFontSize: 10px;
    --LinkFontWeight: 900;
    --LinkFontColour: hsl(250, 26%, 87%);

    --LinkHoverBackgroundColour: hsla(262, 27%, 82%, 0.426);
    --LinkHoverColour: hsl(251, 7%, 54%);
    --LinkActiveBackgroundColour: hsla(247, 25%, 47%, 0.489);
    --LinkActiveColour: hsl(242, 55%, 75%);

    /* MD Content text formatting and styles*/
    --Content-Font: "Satoshi";
    --Content-BorderWeight: 1px;
    --Content-BorderColour: rgba(196, 193, 221, 0.484);
    --Content-Radius: 10px;

    --Content-Blur: 8px;

    --Content-Header-Colour: rgb(212, 212, 224);

    --Content-Header1-Size: 36px;
    --Content-Header1-Weight: 700;
    --Content-Header1-Margin: 24px;

    --Content-Header2-Size: 28px;
    --Content-Header2-Weight: 600;
    --Content-Header2-MarginTop: 18px;

    --Content-Header3-Size: 24px;
    --Content-Header3-Weight: 500;
    --Content-Header3-MarginTop: 16px;
    --Content-Header3-MarginBottom: 12px;

    --Content-Paragraph-Size: 18px;
    --Content-Paragraph-Colour: rgb(203, 203, 215);
    --Content-Paragraph-MaxWidth: 80vw;
    --Content-Paragraph-MarginBottom: 12px;
    --Content-Paragraph-Weight: 200;

    --Content-Links-Colour: rgb(203, 203, 215);
    --Content-Links-HoverColour: rgb(247, 247, 255);

    --Content-Bold-Colour: rgb(203, 203, 215);
    --Content-Bold-Weight: 600;

    --Content-Code-Background: hsl(263, 11%, 14%);
    --Content-Code-BorderColour: hsl(240, 4%, 31%);
    --Content-Code-BorderWeight: 2px;
    --Content-Code-Radius: 10px;
    --Content-Code-MarginBottom: 16px;
    --Content-Code-FontSize: 14px;

    --Content-InlineCode-Background: hsl(263, 11%, 14%);
    --Content-InlineCode-Radius: 10px;

    --Content-Blockquote-LineColour: rgb(107, 107, 190);
    --Content-Blockquote-LineThickness: 6px;
    --Content-Blockquote-MarginBottom: 12px;
    --Content-Blockquote-Colour: rgb(203, 203, 215);

    --Content-Table-Width: 70vw;
    --Content-Table-MarginBottom: 12px;
    --Content-Table-FontSize: 16px;
    
    --Content-Table-BorderThickness: 2px;
    --Content-Table-BorderColour: hsl(240, 4%, 31%);
    --Content-Table-Background: hsl(263, 11%, 14%);
    --Content-Table-HeaderWeight: 800;

    --Content-List-Colour: rgb(203, 203, 215);
    --Content-List-FontSize: 18px;

    --Content-Image-Radius: 10px;

}