/* WILL USE THIS FILE TO EDIT GENERAL SITE AESTHETICS QUICKER */
/* Can save different config.css files as presets and rename them to "save" different aesthetic combos */

:root {
    
    /* CONSTANTS */
    --BaseColour: hsla(0, 47%, 47%, 0.545);
    --HeaderBackground: hsla(90, 85%, 47%, 0.403);
    --ContentBackground: hsla(266, 49%, 48%, 0.752);
    --SidebarBackground: hsla(0, 73%, 49%, 0.405) ;

    /* HEADER VALUES */
    --HeaderBorderRadius: 10px;
    --HeaderBorderColour: hsl(0, 61%, 49%);
    --HeaderBorderThickness: 2px;
    --HeaderBlur: 8px;
    --HeaderFont: "Satoshi";
    
    --LogoFontWeight: 400;
    --LogoFontSize: 16px;

    --SearchFill: hsl(211, 66%, 49%);
    --SearchFontColour: hsl(0, 71%, 49%);
    --SearchFontSize: 10px;
    --SearchBorderThickness: 6px;
    --SearchBorderColour: hsl(325, 82%, 40%);
    --SearchBorderRadius: 20px;

    /* Sidebar */
    --SidebarWidth: 20vw;
    --SidebarBlur: 20px;
    --SidebarBorderWidth: 2px;
    --SidebarBorderColour: hsl(0, 11%, 54%);
    --SidebarRadius: 20px;

    --SubtitleFont: "Zodiak";
    --SubtitleFontSize: 20px;
    --SubtitleFontWeight: 100;
    --SubtitleFontColour: hsl(62, 69%, 49%);

    --LinkFont: "Satoshi";
    --LinkFontSize: 10px;
    --LinkFontWeight: 900;
    --LinkFontColour: hsl(0, 74%, 40%);

    --LinkHoverBackgroundColour: hsl(0, 74%, 40%);
    --LinkHoverColour: hsl(0, 74%, 40%);
    --LinkActiveBackgroundColour: hsl(0, 74%, 40%);
    --LinkActiveColour: hsl(0, 74%, 40%);

    /* MD Content text formatting and styles*/
    --Content-Font: "Satoshi";
    --Content-BorderWeight: 10px;
    --Content-BorderColour: hsl(301, 71%, 48%);
    --Content-Radius: 20px;

    --Content-Blur: 8px;

    --Content-Header-Colour: ;

    --Content-Header1-Size: ;
    --Content-Header1-Weight: ;
    --Content-Header1-Margin: ;

    --Content-Header2-Size: ;
    --Content-Header2-Weight: ;
    --Content-Header2-MarginTop: ;

    --Content-Header3-Size: ;
    --Content-Header3-Weight: ;
    --Content-Header3-MarginTop: ;
    --Content-Header3-MarginBottom: ;

    --Content-Paragraph-Size: ;
    --Content-Paragraph-Colour: ;
    --Content-Paragraph-MaxWidth: ;
    --Content-Paragraph-MarginBottom: ;

    --Content-Links-Colour: ;
    --Content-Links-HoverColour: ;

    --Content-Bold-Colour: ;
    --Content-Bold-Weight: ;

    --Content-Code-Background: hsl(0, 11%, 14%) ;
    --Content-Code-BorderColour: ;
    --Content-Code-BorderWeight: ;
    --Content-Code-Radius: ;
    --Content-Code-MarginBottom: ;
    --Content-Code-FontSize: ;

    --Content-InlineCode-Background: ;
    --Content-InlineCode-Radius: ;

    --Content-Blockquote-LineColour: ;
    --Content-Blockquote-LineThickness: ;
    --Content-Blockquote-MarginBottom: ;
    --Content-Blockquote-Colour: ;

    --Content-Table-Width: ;
    --Content-Table-MarginBottom: ;
    --Content-Table-FontSize: ;
    
    --Content-Table-BorderThickness: ;
    --Content-Table-BorderColour: ;
    --Content-Table-Background: ;
    --Content-Table-HeaderWeight: ;

    --Content-List-Colour: ;
    --Content-List-FontSize: ;

    --Content-Image-Radius: ;

}